<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Scan">
  <ion-content class="padding">

<ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" ></button>
  </ion-nav-buttons> 

    <h1>Scan</h1>

  </ion-content>
</ion-view>
