
<ion-view view-title="{{lista.ListaDescricao}}">
  
  <ion-content class="has-header padding">

<h4>Configurações</h4>
  <ul class="list">
    <li class="item item-toggle">
      Configuração 1
     <label class="toggle toggle-dark">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
    <li class="item item-toggle">
      Configuração 3
     <label class="toggle toggle-dark">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
    <li class="item item-toggle">
      Configuração 4
     <label class="toggle toggle-dark">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

</ul>


   
  </ion-content>
</ion-view>
